.write {
  padding-top: 60px;
  /* background-image: linear-gradient(to top left, rgb(5, 29, 13), rgb(5, 10, 4)); */
  /* background-color: rgb(5, 10, 4); */
  background-image: linear-gradient(to top left, rgb(22, 28, 39), rgb(7, 8, 7));
}

.writeImg {
  margin-left: 220px;
  width: 70vw;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  border: 2px solid black;
}

.writeForm {
  position: relative;
}

.writeFormGroup {
  margin-left: 200px;
  display: flex;
  align-items: center;
}

.writeIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: gray;
  cursor: pointer;
  color: rgb(199, 247, 207);
}

.writeInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  background: none;
  width: 30vw;
  border-bottom: 1px solid rgb(199, 247, 207);
  color: rgb(100, 131, 105);
}

.writeInput:focus {
  outline: none;
}

.writeText {
  color: rgb(114, 150, 120);
  width: 90%;
  font-size: 20px;
  height: 100vh;
}

.writeSubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  background-color: rgb(67, 64, 85);
  color: rgb(138, 173, 143);
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 50px;
}
